.main-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 200px;
}

.main-text-content {
  width: 1600px;
}

.main-text-content > h1 {
  position: absolute;
  left: 1000px;
  top: 300px;
}

.button {
  position: absolute;
  font-weight: 800;
  top: 500px;
  left: 1200px;
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(270deg, #f8fafa, #979797);
  background-size: 200% auto;
  transition: 0.5s;
  border: none;
  animation: gradient 5s ease infinite;
  transform: translate3d(0, 0, 0);
}

.main-info {
  position: absolute;
  width: 1400px;
  top: 1700px;
  font-size: 60px;
}

.button2 {
  position: absolute;
  top: 2300px;
  left: 800px;
  border: none;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(270deg, #f8fafa, #979797);
  background-size: 200% auto;
  transition: 0.5s;
  animation: gradient 5s ease infinite;
  transform: translate3d(0, 0, 0);
}
