.main_img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 200px;
  border: 3px solid #ffffff;
}

.welcome_content {
  height: 1000px;
}
.main_info {
  text-align: left;
  height: 1000px;
  font-size: 40px;
}
.main_text {
  position:relative;
  top:200px;
}
.welcome_content > h1 {
  font-size: 40px;
  position: absolute;
  left: 1000px;
  top: 300px;
}
.photo_carousel {
  display: flex;
  justify-content: center;
}



.button {
  position: relative;
  top: 400px;
  left: 1200px;
  display: flex;
  margin-right: 15px;
  color: #000000;
  background-color: white;
  font-size: 40px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  background-clip: padding-box; 
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.container {
  background: linear-gradient(90deg, #110f0f, #313131, #1b1b1b, #020202);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	transform: translate3d(0, 0, 0);
  width: 100%;

}

.button2 {
  position: relative;
  left: 1330px;
  top: 180px;
  display: flex;
  margin-right: 15px;
  color: #000000;
  background-color: white;
  font-size: 40px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  background-clip: padding-box; 
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


@media(min-width: 800px) {
  .button:hover {
    width: 420px;
  }

  .button2:hover {
    width: 420px;
  }
}