
.embla {
  width: 900px;
    overflow: hidden;
    position: relative;
    top: 2800px;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  .embla__slide >p{
    font-size: 30px;
    font-weight: 800;
    color:black;
  }