.main-div {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

ul {
    width: 100%;
}
.main-topic {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
.box {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  width: 550px;
  height: 550px;
  padding-top: 20px;
  box-sizing: border-box;
  color: #fff;
  background: white;
  background-clip: padding-box; /* !important */
  border: solid 5px transparent; /* !important */
  border-radius: 1em;
}

.img-box-tg {
    display: flex;
    justify-content: center;
    width: 100%;
}

.telegram-qr {
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-inscr-tg {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    
}
.tg-link {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.tg-link:hover {
    width: 200px;
    height: 200px;
}



.img-box-vk {
    display: flex;
    justify-content: center;
    width: 100%;
}
.vk-qr {
    display: flex;
    justify-content: center;
}
.link-inscr-vk {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: black; 
}
.vk-link {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.vk-link:hover {
    width: 200px;
    height: 200px;
}

.img-box-inst {
    display: flex;
    justify-content: center;
    width: 100%;
}
.inst-qr {
    display: flex;
    justify-content: center;
}
.link-inscr-inst {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: black; 
}
.inst-link {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.inst-link:hover {
    width: 200px;
    height: 200px;
}

