.main-div {
    justify-content: center;
    display: flex;

}

.box {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  width: 550px;
  height: 550px;
  padding: 3em;
  box-sizing: border-box;
  color: #fff;
  background: white;
  background-clip: padding-box; /* !important */
  border: solid 5px transparent; /* !important */
  border-radius: 1em;
}
.img-box-tg {
    margin-left: auto;
    margin-right: auto;
}
.img-box-vk {
    margin-left: auto;
    margin-right: auto;
}
.telegram-qr {
    position: absolute;
    top: 210px;
    left: 215px;
}
.vk-qr {
    position: absolute;
    top: 210px;
    left: 815px;
}
.link-inscr-vk {
    position: absolute;
    font-weight: bolder;
    font-size: 30px;
    top: 500px;
    left: 850px;
    color: black;
    
}

.link-inscr-tg {
    position: absolute;
    font-weight: bolder;
    font-size: 30px;
    top: 500px;
    left: 280px;
    color: black;
    
}
